@import "compass/css3";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;


}

body {
	background-color: #4C5B64;


}

/*===================START OF THE SIMPLE NAV BAR ===================================*/


#header {
	width: 100%;
	height: 80px;
	background: #37474F;
	overflow: hidden;
	z-index: 1000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3));
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */

}

#nav {
	width: 100%;
	height: 80px;
/*	border: .5px solid #EABF81;*/
	float:right;
	
   


}

#nav>li {

width: 15%;
list-style: none;
float: right;

}

li>a {

	display: block;
	color: white;
	line-height: 80px;
	text-align: center;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;

}
li>a:hover {

	background: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1));


}




.video-spot{
	position:relative;	
	
}
.video-spot>h1 {
	position:absolute;
	font-size: 45px;
	top:50%;
	left:0;
	right:0;
	text-align: center;
	color: white;
	text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.video-spot>h2 {
	position:absolute;
	top:58%;
	left:0;
	right:0;
	text-align: center;
	color: white;
	text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.video-spot>h3 {
	position:absolute;
	top:64%;
	left:0;
	right:0;
	text-align: center;
	color: white;
	text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.shadowdude{
	font-family: 'Raleway', sans-serif;
}


/*===============OUR SERVICES =======================*/


.ourservicestext{
font-family: 'Raleway', sans-serif;
font-size: 30px;
/*padding-left: 5px;*/
color: white;

margin-left: 44%;



}
.containerabout{
		text-align: center;
	width: 100%;
}
.email,.github,.linkedin{
	text-align: center;
	display: inline-block;
	margin-left: : 50px;

}
.email{
	color: white;
}

.row1{
	padding-left: 45px;
	margin-left: 1%;
	margin-right: 1%;

	padding-top: 50px;

}
.aboutmetext{
	padding-left:40px;
	padding-right: 40px;
}


.box1,.box2,.box3 {
	
	width: 18em;
	height: 400px;
	display: inline-block;
	text-align: center;
	margin-left: 3%;
	margin-right: 3%;
	padding: 0px;
	color: white;
	vertical-align: top
	box-shadow: 6px 5px 30px #505050;

}
.picture{
		border: 1px solid white;
		background-color: #EFEFEF;
		font-family: 'Raleway', sans-serif;
	

}


.paragraphtext {
	text-align: center;
	font-family: 'Raleway', sans-serif;

}

.paragraphtextblack{
	color: black;
	font-family: 'Raleway', sans-serif;
}
.vv{
	margin-top: 50px;
	
}
.aboutmetext{
	margin-top: 40px;
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
}
.today {

	background:	white;
	width: 100%;
	
}
.description{

	border: 1px solid white;
}
.title3{
	font-size: 20px;
	margin-top: 2%;
	margin-left: 47%;
	text-align: center;
	padding: 15px;
	height: 80px;
  	width: 82px;
  	border-radius: 90%;
  	border: 1px solid white;
}
.projectDescription{
	padding-top: 150px;
	padding-left: 20px;
	padding-right: 20px;
}
.btn1,.btn2,.btn3{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
  background: none;
}
.btn1:focus{
	outline:0;
}
.btn2:focus{
	outline:0;
}
.btn3:focus{
	outline:0;
}
.btn1color{
	background-color:white;
}
.btn2color{
	background-color:white;
}
.btn3color{
	background-color:white;
}
.apptext{
	margin-top: 147px;
	font-size: 40px;
}


.description,.picture{
	
	width: 50%;
	height: 400px;
	display: inline-block;
	text-align: center;
	padding: 0px;
	vertical-align: top
}

.gamestart {
	width: 100%;
	text-align: center;
}

.hidden {
	display: none;

}

.traversebuttons{
	
	margin-left: 43%;
	margin-bottom: 30px;
}


/*====================CSS FOR THE QUIZ GAME ====================*/
.skills{
	color: black;
}
.roundgraphs

.firstdiv {

	text-align: center;
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px; 
}


.firstdiv>button {
background: #428BCA;
    color: #fff;
 
    font-size: 20px;
    height: 60px;
    width: 150px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;

}


.firstdiv>button:hover {

	background: green;
	

}


#questions {

	text-align: center;
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px; 
}






#questions>form>button {
 border-radius: 25px;
 height: 30px;
 width: 100px;
 background-color: green;
 box-shadow: none;	
 color: white;
font-family: 'Raleway', sans-serif;


}

/* =================================THIS IS WHERE THE CSS STARTS OF THE API SECTION =============================================*/
.api {

	width: 100%;
	height: 400px;
}


.js-search-results{
	font-family: 'Raleway', sans-serif;
}

.js-search-results1,.js-search-results2,.js-search-results3,.js-search-results4 {

	width: 20%;

	height: 20%;
	display: inline-block;
	text-align: center;
	margin-left: 0.5%;
	margin-right: 0.5%;
	color: white;
	vertical-align: top;
	font-family: 'Raleway', sans-serif;
	


}

.enterdata {
font-family: 'Raleway', sans-serif;
text-align: center;

}
.title3 {
font-family: 'Raleway', sans-serif;

	text-align: left;
	padding-top: 1%;
	color: white;

}

#apiinput {
height: 30px;
 width: 200px;
 border-radius: 25px;
 border: solid white;

}
#apibutton {
border-radius: 25px;
 height: 30px;
 width: 70px;
 background-color: green;
 border: solid green;

	
 color: white;
font-family: 'Raleway', sans-serif;
}


#enterdatashit {
	text-align: center;
	font-family: 'Raleway', sans-serif;

}

/* SHOPPING LIST APP */


#shopping-list-item {
  width: 250px;
}

.shoppinglistapp {
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
  background-color: white;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.shopping-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}


